* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  .navbar-links {
    display: inherit;
    justify-content: flex-end;
    align-items: center;
    .link {
      padding: 10px;
      font-weight: 400;
      font-size: 13px;
      &:hover {
        text-decoration: underline;
      }
      a {
        text-decoration: none;
        color: #000000;
      }
    }
    .foto-perfil {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 20px;
    }
    .navbar-menu {
      width: 50px;
      height: 50px;
      padding: 15px;
    }
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  .text-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 500px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 1px solid rgb(96, 189, 218);
    &:hover {
      transform: scale(1.009, 1.009);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
        0 1px 6px 0 rgba(94, 90, 90, 0.19);
    }
    .input {
      flex-basis: 90%;
      border: none;
      outline: none;
      font-size: 16px;
      .fas,
      .fa-search {
        opacity: 0.4;
      }
    }
  }
  .button-search {
    margin-top: 30px;
    .btn {
      color: #202124;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      margin: 5px;
      padding: 10px;
      background-color: #f8f9fa;
      &:hover {
        outline: auto #e0e0e0;
      }
    }
  }
}

.footer {
  background-color: #F2F2F2;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  h3 {
    padding: 10px;
    font-size: 14px;
    font-weight: 100;
    color: #70757a;
    a {
      text-decoration: none;
      color: #70757a;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .line-footer {
    background-color:rgb(218,220,224);
    height: 1px;
    width: 100vw;
    z-index: 10;
    position: absolute;
    left: 0
  }
  .link-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section-one {
      flex-basis: 50%;
      display: inherit;
      justify-content: flex-start;

    }
    .section-two {
      flex-basis: 50%;
      display: inherit;
      justify-content: flex-end;
    }
  }
}

.fa-search,
.fa-microphone {
  color: #a6acb1;
}
